#coffeeModal {
    .modal-header {
        background-color: $color-blue;
        color: whitesmoke;
    }
}

#loginModal {
    .modal-header {
        background-color: $color-mid;
        color: whitesmoke;
    }
}